/*------------------------------------*\
    # vars.typography
\*------------------------------------*/

/**
    * Type scale sizes must be entered in their pixel size
    * Default type scale ratio: 1.333;
    */

$type-tiny: 10px;
$type-xsmall: 12px;
$type-small: 14px;
$type-base: 16px;
$type-medium: 18px;
$type-medium-large: 20px;
$type-large: 24px;
$type-xlarge: 28px;
$type-xxlarge: 32px;
$type-xxxlarge: 48px;
$type-huge: 56px;

/**
    * Type weights
    */
$type-weight-thin: 100;
$type-weight-light: 300;
$type-weight-regular: 400;
$type-weight-medium: 500;
$type-weight-semi-bold: 600;
$type-weight-bold: 700;
$type-weight-extra-bold: 800;

/**
 * Font Families
 */
$font-sans: "Montserrat Alternates", sans-serif;
