.header {
    height: 88px;

    .container {
        height: 100%;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}
