* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;

    background-color: $color-background;
    font-family: $font-sans;
    color: $color-text;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}
